body {
    background-color: #89CFF0; /* Light blue background */
    color: #000000; /* Black text */
    font-family: 'Avenir Bold', sans-serif;
    text-align: center;
}

h1, p {
    color: #FFFFFF; 
}

pre {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background-color: #000000; /* Black background for ASCII art */
    color: #89CFF0; /* Light blue text */
    padding: 60px;
    width: 350px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre; /* Preserve ASCII formatting */
    overflow: hidden; /* Hide overflow if necessary */
    border-radius: 20px;
    border: 10px solid #FFFFFF; /* White border */
    margin: 20px auto; /* Center the boxes */
      animation: blink 2s infinite alternate; /* Apply the blinking effect */

}

@keyframes Blink {
    100% { opacity: 1; }  /* Light blue text (visible) */
    50% { opacity: 0; } /* Invisible */
    100% { opacity: 1; }  /* Light blue text (visible again) */
}
pre span {
    animation: Blink 2.3s infinite ease-in-out; /* Slower and smooth */
}